@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #7C3AED;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}

body {
    font-family: 'Montserrat', sans-serif;
    width:80%;
    margin: 0px auto;
}

hr {
    margin: 2rem 0rem;
}

/** spaces **/

.margin-md {
    margin: 2rem;
}

/** container **/
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding:0.5rem;
    text-align: center;
}

.link-intial {
    background-color: var(--primary-color);
    border-radius: 2rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
    margin-left:40%;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
    margin-left:40%;
}


/** lists **/ 

.list-non-bullets {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-Name {
    font-weight: bold;
}

.navigation .nav-buttons {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/** header **/
.sticky-nav{
    position: sticky;
    top: 0;
}
.hero {
    padding: 2rem;
    padding-top: 5rem;

}

.hero .hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

.project-link{
    margin-left:70%;
    margin-top: -70px;
}
.align-left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

/** sections **/

.section {
    padding: 2rem;
}
.section h1 {
    text-align: center;
    font-weight: 700;

}
@media (max-width:700px){
    .link-intial {
        background-color: var(--primary-color);
        border-radius: 2rem;
        color: white;
        display: block;
        max-width: 140px;
        margin: 1rem 1rem 1rem 0rem;
    }
    
    .link-secondary {
        color: var(--primary-color);
        border-radius: 2rem;
        display: block;
        max-width: 140px;
        margin: 1rem 1rem 1rem 0rem;
    }
    .align-left{
        justify-content: flex-end;
    }
    body{
        width: 100%;
    }
}
div>small,article>small{
    margin-left: 40%;
}
.primary {
    background-color: var(--off-white);
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.para{
    
    text-align: center;
   
}

/** footers **/

.footer {
    background-color: var(--primary-color);
    padding: 4rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

/** projects **/
.showcase-list {
    padding: 2rem;
}
.project-link{
    display:flex;
    align-items: flex-start;
    align-content: space-between;
    justify-content: space-between;
}

/** blogs **/
.showcase-blog {
    padding-bottom: 6rem;
}
/* dummy */
.student-img{
    width:90px;
    height: 100px;
}
.title-img{
    width:400px;
    height:300px;
}
